<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2776904930-90d5slth6tpoevurv9a4rmphqq7schnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2776904930-90d5slth6tpoevurv9a4rmphqq7schnm</string>
	<key>API_KEY</key>
	<string>AIzaSyA2JQthbkaIiGAqTC0XjXafMPxOZnO8848</string>
	<key>GCM_SENDER_ID</key>
	<string>2776904930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inscripts.cometchat.dev1</string>
	<key>PROJECT_ID</key>
	<string>cometchat-86291</string>
	<key>STORAGE_BUCKET</key>
	<string>cometchat-86291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2776904930:ios:b792c734922b3d57</string>
	<key>DATABASE_URL</key>
	<string>https://cometchat-86291.firebaseio.com</string>
</dict>
</plist>