<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500170208492-doh0nkjc4vdll045ubj0i6t5camvd41q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500170208492-doh0nkjc4vdll045ubj0i6t5camvd41q</string>
	<key>API_KEY</key>
	<string>AIzaSyAtV8b1MdNX9rVrFmwuACQiOpe3rQ7_32U</string>
	<key>GCM_SENDER_ID</key>
	<string>500170208492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inscripts.cometchat.testing</string>
	<key>PROJECT_ID</key>
	<string>pn-966fdefabd9a5</string>
	<key>STORAGE_BUCKET</key>
	<string>pn-966fdefabd9a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500170208492:ios:18ee3e5e4e4ab1de1961c9</string>
</dict>
</plist>